body {
  background-color: purple;
}

title {
  font-family: 'Poppins', sans-serif; 

}

h1 {
  text-align: center;
  color: inherit;
  font-family: 'FlappyBirdy'; 
  font-size: 150px;
  margin-top: 80px;
  margin-bottom: 50px;  
}


.headline {
  color:  white;
}

canvas {   
  display: flex;   
  margin-left: auto;
  margin-right: auto;
  padding-top:  -10px;
/*  padding-bottom:  1500px;*/

}


@font-face {
  font-family: 'FlappyBirdy';
  src: url('/css/FlappyBirdy.ttf');
  src: url('FlappyBirdy.woff2') format('woff2'),
      url('FlappyBirdy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


footer {
  bottom : 0;  
  position:  fixed;
  height : 20px;   
  text-align: center;  
  vertical-align: bottom;
}