body {
  background-color: red;
}

title {
  font-family: 'Poppins', sans-serif; 
}

h1 {
  text-align: center;
  font-family: 'FlappyBirdy'; 
}


canvas {   
  display: block;   
  margin-left: auto;
  margin-right: auto;
  padding-top:  40px;
/*  padding-bottom:  1500px;*/

}

@font-face {
  font-family: 'FlappyBirdy';

}

@font-face {
  font-family: 'FlappyBirdy';
  src: url('/css/FlappyBirdy.ttf');
  src: url('FlappyBirdy.woff2') format('woff2'),
      url('FlappyBirdy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}